@media screen and (max-width: 591px) {


  #drop.navbar {
    height: 80px;
    border-radius: 50% 50% 0 0;
    backdrop-filter: blur(7px) !important;
    z-index: 4;
  }

  .dropdown-menu {
    margin-bottom: -70px !important;
    background-color: rgba(27, 0, 27, 0.432);
    backdrop-filter: blur(55px) !important;
    z-index: 3;
  }

  #drop button i {
    color: rgb(253, 212, 253) !important;
    font-size: 3rem !important;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.562);
  }


  #drop a:not(.active) {
    font-size: 3rem;
    color: white;
    transition: text-shadow .4s ease-out;
  }
  
  #drop a:not(.active):hover {
    text-shadow: 0 2px 12px rgb(164, 50, 240);
  }
/* 
  @keyframes titleInAnimation {
    0% {
        opacity: 0;
        color: transparent;
    
    }
    50% {
        letter-spacing: -.5rem;
    }
    100% {
        opacity: 1;
        color: rgb(115, 97, 128);
        letter-spacing: -1rem;
    }
  } */
    
}