@media screen and (max-width: 591px) {


  #drop.navbar {
    backdrop-filter: blur(15px) !important;
  }

  .dropdown-menu {
    background-color: rgba(27, 0, 27, 0.432);
    backdrop-filter: blur(55px) !important;
  }

  /* .drop-btn {
    position: absolute;
    top: 50px;
    left: 80%;
    z-index: 9999999;
  } */

  /* #drop {
    top: 0;
    z-index: 1;
  } */

 i {
    color: rgb(112, 2, 122);
    font-size: 2.5rem !important;
  }

 
 /* 
  .dropdown-menu {
    margin-top: -70px !important;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(230, 192, 213, 0.404);
  } */

  a {
    font-size: 3rem;
    color: white;
  }
  
  a:hover {
    text-shadow: 0 2px 12px rgb(183, 0, 255);
    color: rgb(213, 165, 252);
  }
  a.active:hover {
    color: rgba(64, 75, 94, 0.08);
    text-shadow: none;
    text-decoration: none;
    pointer-events: none;
  }
/* 
  @keyframes titleInAnimation {
    0% {
        opacity: 0;
        color: transparent;
    
    }
    50% {
        letter-spacing: -.5rem;
    }
    100% {
        opacity: 1;
        color: rgb(115, 97, 128);
        letter-spacing: -1rem;
    }
  } */
    
}