.About {
    height: 90vh;
    backdrop-filter: blur(2.5px);
    overflow: auto;
}

.About::-webkit-scrollbar {
    width: 1em;
}

.about_box .row {
    width: 90%;
    margin-bottom: 70px;
}

.a_box {
    height: 450px;
}

#box1 {
    min-width: 370px;
}

#box2 {
    max-width: 600px;
}

.a_box .photo {
    width: 340px;
    height: 120%;
    min-width: 340px;
}

.photo {
    background-image: url('../assets/images/photo1.JPEG');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.a_box .info {
    padding: 20px;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 10px;
}

.a_box .info h5 {
    color: rgb(48, 0, 138);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -3px;
}

.a_box .info span {
    padding-left: 8px;
}

.a_box .info h3 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1.5px;;
}

.a_box .info p {
    margin-bottom: 12px;
    font-size: 15px;
}

#box2 .i_box i {
    position: relative;
    top: -40px;
    font-size: 100px;
    text-shadow: 0px 5px 10px rgb(255, 219, 219);
    color: rgba(255, 255, 255, 0.144);
    animation: slideAnimation ease-in-out 65s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes slideAnimation {
    0% {
        opacity: 0;
        left: -250px;
    }
    5% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    40% {
        opacity: 0;
        left: 200px;
    }
    75% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100%{
        opacity: 0;
        left: -180px;
    }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 952px) {
    
    .about_box .row {
        flex-direction: column;
        margin-left: 20px;
    }

    #box2 {
        align-content: flex-start;
        margin-top: 10px;
        margin-left: 10px;
        width: 100%;
    }

    .a_box .photo {
        padding-left: 10px;
        height: 100%;
    }

    .a_box .info {
        width: 100%;
    }

    #box2 .i_box i {
        animation: slideAnimation ease-in-out 60s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
}