.Contact {
    width: 90%;
    padding: 60px;
    border-radius: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2.5px);
}

.col-md-7 {
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 17px 0 0 17px;
    padding: 20px;
}

.col-md-7 label {
    color: rgba(38, 30, 78, 0.74);
    font-size: 25px;
    padding-left: 10px;
    margin-bottom: -10px;
    letter-spacing: -2px;
}

.col-md-7 .form-control {
    height: 45px;
    background: transparent;
    color: rgb(23, 15, 71);
    font-size: 16px;
    box-sizing: none !important;
    border: none;
    border-bottom: 2px solid rgba(69, 60, 100, 0.589);
    box-shadow: none;
    transition: box-shadow .2s ease-in-out;
}

.col-md-7 .form-control:focus {
    background-color: rgba(255, 255, 255, 0.623);
    border: 2px solid rgb(255, 235, 210);
    box-shadow: 0px 1px 10px rgb(253, 228, 255);
    outline: none !important;
}

.c_box {
    background-color: rgba(69, 60, 100, 0.589);
    border-radius: 0 17px 17px 0;
    padding: 20px;
    color: rgb(255, 255, 255);
    word-break: break-all;
}


.col-md-7 button {
    background-color: rgba(69, 60, 100, 0.356);
    border: 2px solid rgba(69, 60, 100, 0.589);
    color: rgba(38, 30, 78, 0.74);
    font-size: 17px;
    font-weight: bold;
}

.col-md-7 button:hover {
    background-color: rgba(255, 255, 255, 0.384);
    color: rgb(23, 15, 71);
    border: 2px solid rgb(255, 235, 210);
}

.btn-primary:focus,
.btn-primary:active{
    box-shadow: none !important;
    outline: 0px !important;
}

.btn-primary:focus {
    background-color: transparent;
    color: rgb(255, 235, 210);
    border: 2px solid rgb(255, 235, 210);
}


.icon_envelope:hover .bi:before {
    content: "\F32D";
}

.icon_linkedin:hover .bi:before {
    content: "\F406";
}


.icon_person:hover .bi:before {
    content: "\F8C9";
}

.c_box .bi {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.c_info {
    font-size: 18px;
    padding-left: 19px;
    margin-bottom: -20px;
}

@media only screen and (max-width: 767px) {
    
    .col-md-7 {
        border-radius: 17px 17px 0 0;
    } 

    .c_box {
        border-radius:  0 0 17px 17px;
    }
}


@media only screen and (max-width: 600px) {
    /* .Contact {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
    }*/

} 