.Projects {
    height: 96vh;
    backdrop-filter: blur(2.5px);
    overflow: auto;
}

.Projects::-webkit-scrollbar {
    width: 1em;
}

.Projects .container {
    margin: auto 0;
}


.proj_row:last-child {
    padding-bottom: 170px;
}

.proj {
    min-height: 450px;
    background-color: rgba(255, 255, 255, 0.329);
    box-shadow: none;
    border-radius: 20px;
}

.proj img {
    border-radius: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title h4 {
    font-weight: bold;
    margin-right: 20px;
}

#jar, 
#cloud, 
#food {
    rotate: -20deg;
    margin-right: -15px;
    padding-bottom: 4px;
    font-size: 3rem;
}

#jar {
    color: rgba(0, 99, 0, 0.164);
}

#cloud {
    margin-right: -25px;
    margin-left: 0px;
    color: rgba(0, 0, 199, 0.178);
}

#food {
    color: rgba(173, 63, 0, 0.274)
}

.card-body h5 {
    padding: 0 12px;
    font-size: 18px;
    font-weight: bold;
}

.card-body p {
    background-color: white;
    height: 100px;
}

.card-foot {
    margin-top: 20px;
} 

#foot {
    position: absolute;
    font-size: 3.9em;
    color: rgba(0, 0, 0, 0.158);
    padding-bottom: 10px;
    z-index: -1;
}

.card-foot h4 {
    font-size: 1.4em;
    z-index: 1;
}

@media screen and (max-height: 1200px) {
    .card-img-top {
        min-height: 100px;
    }
}

@media screen and (max-width: 991px) {
    .Projects .container {
        margin-right: -20px;
    }
}