.Projects {
    height: 96vh;
    backdrop-filter: blur(2.5px);
    overflow: auto;
}

.Projects::-webkit-scrollbar {
    width: 1em;
}

.Projects .container {
    margin: auto 0;
}


.proj_row:last-child {
    padding-bottom: 170px;
}

.proj {
    min-height: 450px;
    background-color: rgba(255, 255, 255, 0.329);
    box-shadow: none;
    border-radius: 20px;
}

.card-img-top {
    min-height: 235px;
}

.proj img {
    border-radius: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title i {
    --fa-primary-color: #50866d;
    --fa-secondary-color: #50866d;
}

@media screen and (max-height: 1200px) {
    .card-img-top {
        min-height: 195px;
    }
}

@media screen and (max-width: 991px) {
    .Projects .container {
        margin-right: -20px;
    }
}