#contact {
    backdrop-filter: blur(2.5px);
}

#contact h1 {
    font-size: 2.8rem;
}

/* MEDIA QUERIES */
@media (max-width: 1199px) {
    #comment {
        height: 45px;
    }

    #contact h1 {
        font-size: 2rem;
    }
}

@media (max-width: 991px) {
    #contact h1 {
        display: none;
    }
}

@media (max-width: 591px) {
       
    #contact .row {
        max-height: 80vh !important;
    } 

    #contact form label {
        font-size: 2.5rem !important;
    }

    .info_box {
        margin: 0 !important;
        padding: 0 p !important;
        border-radius: 0;
    }
}