.homepage {
  margin:  0 auto;
  display: flex;
  justify-content: center;
}

.homepage h1 {
  margin-top: 300px;
  font-size: 4rem;
  color: rgb(0, 0, 0);
  text-shadow: 0px 1px 7px rgb(126, 126, 126);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    color: transparent;
  }
  55% {
    opacity: 1;
    color: rgb(255, 255, 255);
  }
  100% {
    opacity: 0;
    color: transparent;
  }
}

.homepage h2 {
  position: absolute;
  top: 200px;
  padding-right: 55px;
  width: auto;
  height: auto;
  font-size: 25rem;
  font-weight: bold;
  letter-spacing: 2rem;
  animation: backAnimation ease-in-out 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes backAnimation {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;    
  }
  50% {
    opacity: .9px;
    text-shadow: 0px 0px 10px rgba(245, 193, 202, 0.205);
  }
  100% {
    opacity: 1;
    color: rgb(255, 255, 255);
    letter-spacing: -4rem;
    text-shadow: -12px 0px 0px rgb(224, 177, 185);
  }
}

.title {
  display: flex;
  position: absolute;
  padding-left: 20px;
  top: 200px;
  font-size: 2rem;
  font-weight: bold;
  animation: talentAnimation ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 0;
}

.title .talent {
  padding: 0 10px;
}

@keyframes talentAnimation {
  0% {
    opacity: 0;
    color: transparent;
    top: 0px;
  }
  65% {
    opacity: 0;
    color: transparent;
    text-shadow: 0px 2px 5px rgb(255, 192, 203);
    
  }
  100% {
    opacity: 1;
    color: white;
    font-size: 3rem;
    letter-spacing: -4px;
    text-shadow: 0px 2px 0px rgb(179, 139, 145);;
    top: 600px;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
    
  .homepage h2 {
    top: 250px;
    font-size: 15rem;
    padding-right: 35px;
  }

  .talent {
    font-size: 2.5rem;
  }

  @keyframes backAnimation {
    0% {
      opacity: 0;
    }
    45% {
      opacity: 0;
      
    }
    50% {
      opacity: .9px;
      text-shadow: 0px 0px 10px rgba(245, 193, 202, 0.205);
    }
    100% {
      opacity: 1;
      color: rgb(255, 255, 255);
      letter-spacing: -2.4rem;
      text-shadow: -12px 0px 0px rgb(224, 177, 185);
    }
  }

  @keyframes talentAnimation {
    0% {
      opacity: 0;
      color: transparent;
      top: 0px;
    }
    65% {
      opacity: 0;
      color: transparent;
      text-shadow: 0px 2px 5px rgba(255, 192, 203, 0.479);
    }
    100% {
      opacity: 1;
      color: white;
      text-shadow: 0px 2px 0px rgba(206, 156, 164, 0.801);
      top: 490px;
    }
  }
}

@media (max-width: 560px) {
    
  .homepage h2 {
    top: 300px;
    font-size: 10rem;
    padding-right: 35px;
  }

  @keyframes backAnimation {
    0% {
      opacity: 0;
    }
    45% {
      opacity: 0;
      
    }
    50% {
      opacity: .9px;
      text-shadow: 0px 0px 10px rgba(245, 193, 202, 0.205);
    }
    100% {
      opacity: 1;
      color: rgb(255, 255, 255);
      letter-spacing: -1.6rem;
      text-shadow: -12px 0px 0px rgb(224, 177, 185);
    }
  }

  .talent{
    display: none;
  }
}