@media screen and (max-width: 991px) {

    .hidden {
      display: block;
    }  
    
    /* Toggle button */
    #drop .toggle_btn {
      position: absolute;
      top: 40px;
      right: 30px;
      overflow: hidden;
      cursor: pointer;
      color: rgb(111, 80, 146);  
      z-index: 9999;
    }
    
    #drop i.active {
      color: rgba(100, 94, 156, 0.651);
    }
    #drop i.inactive {
      opacity: .9;
    }
  
    .dropdown ul {
      background-color: purple;
    }

    /* Dropdown-menu menu */
    /*  .dropdown-menu {
      width: 100%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.897);
      border-radius: 0;
      z-index: 9998;
    }
   .dropdown-menu.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition: .5s ease;
    }
    .dropdown-menu.inactive {
      opacity: 0;
      visibility: hidden;
      transform: translateX(30px);
      transition: .5s ease-out;
    }

    .dropdown-menu a {
        font-size: 3rem;
        color: rgb(19, 15, 24); 
    }
    .dropdown-menu a:hover {
      background-color: rgba(135, 78, 173, 0.356);
      color: rgb(255, 255, 255);
      letter-spacing: -1.5px;
      transition: letter-spacing .3s ease;
    }
   */
    
    /* Logo */
    #drop .logo {
        position: absolute;
        top: 15px;
        transform: translateX(0px);
        transition: .5s ease-out;
        animation: titleInAnimation ease-in .7s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        z-index: 9999;
    }
    #drop .logo h1 {
        font-size: 7.5rem;
        transition: .5s ease;
    }

  
    @keyframes titleInAnimation {
        0% {
            opacity: 0;
            color: transparent;
        
        }
        50% {
            letter-spacing: -.5rem;
        }
        100% {
            opacity: 1;
            color: rgb(115, 97, 128);
            letter-spacing: -1rem;
        }
    }
    
}