header {
  backdrop-filter: blur(15px);
}

/* NAVBAR */
nav .link {
  padding: 0 55px;
} 

nav a {
  font-size: 1.25rem;
}

nav a:hover {
  text-shadow: 0 2px 2px rgb(255, 255, 255);
  color: rgb(209, 152, 255);
}


/* MEDIA QUERIES */
@media (max-width: 591px) {
  
  /* header {
    display: none !important;
  } */
  
}