:root {
  --mainColor: rgb(159, 98, 172);
  --secondColor: rgb(112, 2, 122);
  --thirdColor: rgb(31, 25, 65);
  --thirdColor-a: rgba(69, 60, 100, 0.356);
}


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body {
  width: 100%;
}


body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  z-index: -9999;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--mainColor);
}

a.active:hover {
  color: rgba(64, 75, 94, 0.08) !important;
  text-shadow: none;
  pointer-events: none;
}


/* Utilities */
.tada
.tada-sm,
.tada-lg {
  display: block;
}

.hidden,
.hidden-sm,
.hidden-lg {
  display: none;
}

.active {
  color: rgba(64, 75, 94, 0.08);
  cursor: default;
}



/* Bootstrap */
.container-fluid {
  margin: 0 !important;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.dj {
  display: flex;
  justify-content: center;
}

.da {
  display: flex;
  align-items: center;
}

.dja {
  display: flex;
  justify-content: center;
  align-items: center;
}

.djea {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-header {
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 991px) {

  .hidden-lg {
    display: flex;
  }

  .tada-lg {
    display: none;
  }
}

@media screen and (max-width: 591px) {

  .hidden-sm {
    display: block;
  }

  .tada-sm {
    display: none;
  }
}